@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #734A00;
  border-radius: 8px;
}

::-webkit-scrollbar-corner {
  background: white;
}

.classss{
  box-shadow: 0px 18px 48px rgba(112, 144, 176, 0.12);
}
